

.App {
  min-height: 100vh;
  background-color: whitesmoke;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.today {
  margin-top: 0;
  padding-top: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  
}

.search-form {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


.search-bar{
  margin-right: 10px;
  border: 2px solid #dfdfdf;
  border-radius: 40px;
  height: 40px;
  padding: 0 150px;
  font-size: 14px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #888;
  

}






.search-bar:focus {
    border-color: #4050B4;
    outline: none;
  }